body{
    background-color: rgb(18, 19, 18);
    color: rgba(182, 6, 6, 0.726);
    font-family: arial, sans-serif;
}
header{
    background-color: #181d18;
    color: #8a0909b9;
    text-align:center;
    padding:  30px;
}
h1{
    font-size: 36px;
}
h2{
    color: #a70101;
}
p{
    font-size: 20px;
    line-height: 1.6;
}