body{
    background-color: rgb(18, 19, 18);
    color: rgba(182, 6, 6, 0.726);
}
header{
    background-color: #181d18;
    color: #8a0909b9;
}
main{
    background-color: rgb(0, 0, 0);
}
footer{
    background-color: #011101;
    color: #400101b2;
}
