body{
    background-color: rgb(#043fe2);
    color: rgb(#F9ECE5);
    font-family: arial, sans-serif;
}
header{
    background-color: #07c1ff;
    color: #ba7de0;
    text-align:center;
    padding:  30px;
}
h1{
    font-size: 36px;
}
h2{
    color:#00394d;
}
p{
    font-size: 25px;
    line-height: 1.6;
}
main {
    width: 80%;
    margin: auto;
}
section{
    background-color: #a007ff;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}
img{
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-radius: 12px;
}
figcaption{
    text-align: center;
    font-size: 14px;
    color: #00a3df;
    margin-top: 8px;
}